*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}
.gg a{
    text-decoration: none;
    font-family: 'Sansita Swashed', cursive;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 2px;
    font-size: 28px;
    color: white;
}


header{
    width: 100%;
    height: 57px;
    color: white;
    background: black;
    /*Para que el menu se quede pegado*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px 0;
    
}

nav  a{
    display: block;
    line-height: 40px;   
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    font-size: 19px;
    color: white;
    
}
nav a:hover{
    text-decoration: none;
    color: white;
}

nav a span{
    background: #CD6374;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position:absolute;
    top:-46px;
}

nav a span .icon{
    display: block;
    line-height: 55px;
}

/*Animacion iconos de fondo y colores*/
nav a:hover span{
    top: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav a .primero{background: #FFE389;}
nav a .segundo{ background: #CD6374;}
nav a .tercero{background: #519795;}

.contenedor{
    width: 98%;
    margin: auto;
}
h1{
    float: left;
}

header .contenedor{
    display: table;
}
/*MENU*/
#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.menu a:hover{
    background: rgba(255, 255, 255, .3);
    text-decoration: none;
    color: white;
}



#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}
/*Fin icono menu*/
.cdre{
   
    opacity: 0.8;
    background-image:  linear-gradient(#606a6a 1.5px, transparent 1.5px), linear-gradient(to right, #606a6a 1.5px, #9dc8dd 1.5px);
    background-size: 58px 58px;
}
.foundr{
    margin-top: 20px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;

}
/*Contenido*/
.fot{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.ilad{
    box-shadow: 0px 3px 0px 7px rgba(0, 0, 0, 0.2);

}
.nombre-p{
    font-family: 'Sansita Swashed', cursive;
    background-color:  rgb(40, 100, 134);
    color: #ffffff;
}

.proyecto article p{
    font-size: 18px;
}

.imagen img{
    width:250px;
    border-style: none;
  
}


.pk{
    margin-top: 0;
    background: rgb(40, 100, 134);
    color: white;
    margin-bottom: 0;
}
.lisae{
    
}
section article ul li{
    margin-left: 15px;
}

section article ul{
    background: rgba(0, 0, 0, .08);
    border-radius: 3px;
}

section article ul li p{
    font-size: 20px;
}

.conocelos{
    margin-top: 0;
    background: rgb(40, 100, 134);
    margin-bottom: 0;
    
   
    
    color: white;
}

section aside ul li p{
    font-size: 20px;
}

section aside ul li{
    margin-left: 15px;
}

section aside ul{
    
    background: rgba(0, 0, 0, .08);
    border-radius: 3px;
}

/*Pie de pagina */
.content{
    
    width: 60%;
    margin: 0 auto;
   
}

.ola{
    background-color: #519795;
}
#hola{
    color: #519795;
}

.redes ul li{
	list-style: none;
	margin: 0 15px;
}
.redes ul{
	position: absolute;
	top:50%;
	left:50%;
	padding:0;
	margin: 0;
	transform: translate(-50%,-50%);
	display: flex;
	overflow: hidden;

}
.redes ul li .fa{
	font-size: 30px;
	line-height: 60px	;
	transition: .6s;
	color: #4b8b89;
}
.redes ul li .fa:hover{
	color: #ffffff;
}
.redes ul li a{
	position: relative;
	display: block;
	height: 60px;
	width: 60px;
	border-radius: 50px;
	background: #ffffff;
	text-align: center;
	transition: .6s;
	box-shadow: 0px 8px 10px rgba(107, 106, 106, 0.5);
}
.redes ul li a:hover{
	transform: translate(0px,5px);
}

.redes ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}
.redes ul li:nth-child(2) a:hover{
	background-color: #55acee;
}
.redes ul li:nth-child(3) a:hover{
	background-color: #e4405f;
}
.redes ul li:nth-child(4) a:hover{
	background-color: #cd201f;
}

/*Boton registrar*/
.registrar{
    margin: 10px auto;
    background: #519795;
    font-size: 18px;
    font-weight: 500!important;
    color: white;
}

.registrar:hover{
    color: black;
    transition: 0.5s ease-in;
}

@media (min-width: 1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none; 
    }
    .menu div a {
        visibility: hidden;
    }
    header label{
        display: none;
    }


}

@media (max-width: 1023px){

    
    nav a span{
        visibility: hidden;
        display: none;
    }
    nav a span .icon{
       visibility: hidden;
       display: none;
    }
    
    nav a:hover span{
        transform: translateX(0%);
    }

}