*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cuerpo*/

body{
    font-family: 'Josefin Sans', sans-serif;
}

/*Contenedor cabecera*/
header{
    background: black;
    width: 84%;
    height: 55px;
    margin: auto;

}

.ancho{
    width: 100%;
    height: 55px;
    margin: auto;
    padding-bottom: 10px;
    box-shadow: 0 5px 5px 0;
}

.logo{
    position: relative;
    width: 30%;
    height: 55px;
    float: left;
}

.logo p{
    font-family: 'Sansita Swashed', cursive;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 12px;
    font-size: 28px;
    color: white;
}

/*Etiquetas navegacion*/
nav{
    display: table;
    width: 70%;
    height: 55px; 
    float: left;
    text-align: right;
    color: white;
}


nav ul li{
    
    float: right;
    display: table-cell;
}

nav ul li a{
    display: block;
    line-height: 5px;   
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    font-size: 19px;
    color: white;
    
}

/*Iconos de fondo*/
nav ul li a span{
    background: #CD6374;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position:absolute;
    top:-48px;
}

nav ul li a span .icon{
    display: block;
    line-height: 55px;
}

/*Animacion iconos de fondo y colores*/
nav ul li a:hover span{
    top: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav ul li a .primero{background: #FFE389;}
nav ul li a .segundo{ background: #CD6374;}
nav ul li a .tercero{background: #519795;}

/*Contenido barra navegacion proyectos y etiquetas*/

.contenido{
    width: 96%;
    height: 525px;
    margin: 0.5em auto;
    border-radius: 1em;
    margin-bottom: 3.5em;
}

/*Menu desplazable de proyectos*/
.barra-proy{
    position: absolute;
    width: 80%;
    margin: 1em 6.4em;
    height: 280px;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 5px 10px 0;
}

.imagen1{background: url("img/H1.jpg")no-repeat center center/cover; width: 100%; height: 100%;} 
.imagen2{background: url("img/H2.jpg")no-repeat center center/cover; width: 100%; height: 100%;}
.imagen3{background: url("img/H3.jpg")no-repeat center center/cover; width: 100%; height: 100%;}
.imagen4{background: url("img/Ej4.jpg")no-repeat center center/cover; width: 100%; height: 100%;}

.barra-proy div section div  a{ text-decoration: none;}
.barra-proy div section div  a:hover .nombrep{text-decoration: underline;}

.imagenp {
    display: flex;
    width: 48%;
    float: right;
    height: 280px;
}

.imagenp img{
    margin-top: 25px;
    margin-left: 45px;
    width: 300px;
    height: 200px;
    border-radius: 1em;
}

.nombrep{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    position: relative;
    width: 50%;
    font-size: 35px;
    color: white;
}

.descripcionp{
    position: relative;
    width: 45%;
    font-size: 18px;
    height: auto;
    margin: 2em 3.5em;
    text-align: justify;
    color: white;

}

/*Flechas y acciones*/
#btn-prev, #btn-next{
    width: 40px;
    height: 40px;
    background: rgba( 255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}

#btn-prev:hover, #btn-next:hover{
    background: rgba(255, 255, 255, 1);
}

#btn-prev{
    left: 10px;
}

#btn-next{
    right: 10px;
}

#slider{
    display: flex;
    width: 400%;
}

/*Etiquetas de noticias, eventos, etc*/
.etiquetas{
    position: absolute;
    margin: 20.4em 6.4em;
    width: 80%;
    border-radius: 1em;
    height: 225px;
}

.etiquetas{
    display: inline-flex;
}
.E1{
    width:30%;
    padding-left: 20px;
    height: 100%;
    float: left;
    border-radius: 1em;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.E2{
    margin: 0 5.1em;
    width:30%;
    padding-left: 20px;
    height: 100%;
    border-radius: 1em;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.E3{
    
    width:30%;
    padding-left: 20px;
    height: 100%;
    float: right;
    border-radius: 1em;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

/*Pie de pagina */
.footer{
    width: 100%;
    background: salmon;
    height: 50px;
}
