
body{
    background-image: url("img/F.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    background-attachment: fixed;
}

.formulario{
    background: rgba(0, 0, 0,.5);
    padding: 20px;

}
