*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}
.gg{
    font-family: 'Sansita Swashed', cursive;
    font-size: 18px;
    margin-left: 20px;
    padding-top: 2px;
    font-size: 28px;
    color: white;
}


header{
    width: 100%;
    height: 57px;
    color: white;
    background: black;
    /*Para que el menu se quede pegado*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 10px 0;
    
}

nav  a{
    display: block;
    line-height: 40px;   
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    font-size: 19px;
    color: white;
    
}
nav a:hover{
    text-decoration: none;
    color: white;
}

nav a span{
    background: #CD6374;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position:absolute;
    top:-46px;
}

nav a span .icon{
    display: block;
    line-height: 55px;
}

/*Animacion iconos de fondo y colores*/
nav a:hover span{
    top: 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

nav a .primero{background: #FFE389;}
nav a .segundo{ background: #CD6374;}
nav a .tercero{background: #519795;}

.contenedor{
    width: 98%;
    margin: auto;
}
h1{
    float: left;
}

header .contenedor{
    display: table;
}
/*MENU*/
#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.menu a:hover{
    background: rgba(255, 255, 255, .3);
    text-decoration: none;
    color: white;
}



#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}
/*Fin icono menu*/

body{
    background-image: url(img/Fondois.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor-todo{
    width: 100%;
    max-width: 950px;
    margin: auto;
    position: relative;
}

.caja-trasera{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, .095);
}

.caja-trasera div{
    margin: 100px 50px;
    transition: all 500ms;
}

.caja-trasera div p,
.caja-trasera div button{
    margin-top: 30px;
}

.caja-trasera div h3{
    font-weight: 500;
    font-size: 32px;
}

.caja-trasera button{
    border: 2px solid #ffff;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 500!important;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja-trasera button:hover{
    color:black;
    background: #519795;
}

/*Formulario y nota*/

.contenedor-nota-registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 430px;
    position: relative;
    top: -220px;
    left: 48px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor-nota-registro form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor-nota-registro .notaa{
    width: 100%;
    padding: 100px 40px;
    background: white;
    position: absolute;
    border-radius: 20px;
    left: 50px;
}

.contenedor-nota-registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor-nota-registro form input,
.contenedor-nota-registro form textarea{
    width: 100%;
    margin-top: 20px;
    padding:10px;
    border:none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor-nota-registro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #519795;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario-registro{
    opacity: 1;
    display: block;
}

.notaa{
    display: none;
}

/*Resposive*/

@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }

    .caja-trasera{
        max-width:400px;
        height:300px;
        flex-direction:column;
        margin:auto;
    }

    .caja-trasera div{
        margin: 0px;
        position: absolute;
    }

    .contenedor-nota-registro{
        top:-10px;
        left:-5px;
        margin:auto;
    }

    .contenedor-nota-registro form
    {
        position: relative;
    }

    .contenedor-nota-registro .notaa{
        position: relative;
        left: 0;
        padding: 40px 40px;
    }
}

@media (min-width: 1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border: none; 
    }
    .menu div a {
        visibility: hidden;
    }
    header label{
        display: none;
    }


}

@media (max-width: 1023px){

    
    nav a span{
        visibility: hidden;
        display: none;
    }
    nav a span .icon{
       visibility: hidden;
       display: none;
    }
    
    nav a:hover span{
        transform: translateX(0%);
    }

    .uch{
        margin-left: 0;
    }

}